@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Silkscreen&family=Space+Grotesk&family=ZCOOL+KuaiLe&display=swap");

:root {
  cursor: none;
}

body {
  background-color: #121212;
}

#infoAndProjects {
  display: flex;
  justify-content: space-between;
}

#infoAndLinks {
  width: 43vw;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#logo {
  border-radius: 100%;
}

#webring-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #ffffff;
  margin: 10px 0;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#darkAndLightModeSwitcher {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background-color: #f8f4db;
  border-radius: 100%;
  transition-property: background-color;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  height: 75px;
  width: 75px;
}

#darkAndLightModeSwitcher:hover {
  background-color: #e6e4d6;
}

@media (prefers-color-scheme: dark) {
  #darkAndLightModeSwitcher {
    background-color: #121212;
  }

  #darkAndLightModeSwitcher:hover {
    background-color: #e6e4d6/10;
  }
}

#info {
  padding: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Righteous", serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  width: 100%;
}


.cursor {
  pointer-events: none;
  position: fixed;
  display: block;
  border-radius: 0;
  mix-blend-mode: difference;
  top: 0;
  left: 0;
  z-index: 9999999999999999;
}

.circle {
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background-color: #fff;
}

#titleInfo {
  font-size: 4rem;

}

:root {
  --green: rgb(42, 252, 152);
  --blue: rgb(41, 121, 255);
}

@keyframes float {
  from,
  to {
    transform: translateY(-0%);
  }
  50% {
    transform: translateY(-3%);
  }
}

@keyframes background-pan {
  from {
    background-position: 1000% center;
  }
  to {
    background-position: 0% center;
  }
}

.line {
  display: flex;
  justify-content: space-between;
}

.word {
  margin: 0rem;
  text-transform: uppercase;
  transition: opacity 250ms ease;
}

a {
  text-decoration: none;
}

#text:has(.fancy:hover) .word:not(.fancy:hover) {
  opacity: 0.2;
}

.fancy span {
  display: inline-block;
}

.fancy > .outer {
  transition: transform 350ms ease;
}

.fancy:hover > .outer {
  transition-duration: 800ms;
}

.fancy:hover > .outer > .inner {
  animation: float 5s ease infinite;
}

.fancy:hover > .outer > .inner > .letter {
  background: linear-gradient(to right, var(--blue), var(--green), var(--blue));
  background-size: 1000%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: background-pan 150s linear infinite;
}

.star {
  position: absolute;
  z-index: 2;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg)
      scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}

h2 {
  font-size: 2.5rem;
}


#titleInfo > span {
  color: #ff975b;

}

.hackerText {
  font-family: 'Space Mono', monospace;
  border-radius: 20px;
  padding: 5px;
}

.hackerText:hover {
  background-color: #ffffff ;;
  color: black;
}

/* Optional: Adjust the space */
.space {
  display: inline-block;
  width: 0.5ch; /* Adjust space width if necessary */
}

/* Use non-breaking space for space characters */
.word>.letter >.space {
  content: '\00a0'; /* Non-breaking space */
}

a {
  text-decoration: none;
}

#text:has(.word:hover) .word:not(.word:hover) {
  opacity: 0.2;
}

.word span {
  display: inline-block;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

.button {
  line-height: 1;
  height: 3rem;
  margin-top: 2rem;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.button:hover {
  background-color: #000;
}

.button:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}


#myProjects {
  outline: 1px solid hsla(24, 100%, 50%, 0.151);
  width: 45vw;
  margin: 40px;
  border-radius: 20px;
  padding: 20px;
}

#bitMoreInfo > h1 {
  color: #ffffff;
  font-size: 2rem;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

p {
  color: #ffffff;
  font-size: 1rem;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/**
 * This container element is used to layout the title and button for the "My
 * Projects" section. It is a flex container with its children laid out
 * horizontally and spaced evenly apart.
 */
#TitelAndButtonForprojects {
  display: flex;
  justify-content: space-between;
}

.box {
  outline: 1px solid hsla(24, 100%, 50%, 0.151);
  width: 30vw;
  height: 50vh;
  margin: 40px;
  border-radius: 10px;
  padding: 20px;
}

#boxOfBoxes {
  position: relative;
}

#box1 {
  background-color: #ff0000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

#box2 {
  background-color: #00ff00;
  position: absolute;
  top: 0;
  left: 5vw;
  z-index: 3;
}

#box3 {
  background-color: #0000ff;
  position: absolute;
  top: 0;
  left: 10vw;
  z-index: 2;
}